---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="About me">
  <main>
    <h1>README</h1>

    <p>
      My name is Ahmed Waseem Saeed, and I am currently a master's student at
      the University of Oslo, studying Informatics: Digital Economy and
      Leadership. I am on my 5th and last year, and writing my master's thesis
      on hybrid work models and the impact of leaders on making hybrid work
      function optimally.
    </p>

    <br />

    <p>
      Beyond that, I would have say I have an above average interest in football
      (and sports in general). I also love to learn new stuff and read books in
      my sparetime.
    </p>
  </main>
</Layout>
