---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Om meg">
  <main>
    <h1>Om meg</h1>

    <p>
      Jeg heter Ahmed Waseem Saeed, og studerer akkurat nå en master i
      Informatikk: digital økonomi og ledelse ved Universitetet i Oslo. Jeg er
      på mitt 5. (og siste) år. Jeg skriver en masteroppgave om hybride arbeid
      og lederes innflytelse til å få hybrid arbeid til å fungere optimalt.
    </p>

    <br />

    <p>
      Ellers har jeg en over middels interesse for fotball (og sport generelt).
      Jeg elsker også å lære nye ting og lese bøker på fritiden.
    </p>
  </main>
</Layout>
