---
import BlogPost from "@components/BlogPost.astro";
import Layout from "src/layouts/Layout.astro";
const allBlogPosts = await Astro.glob("../content/sats/*.md").then((posts) =>
  posts.sort((a, b) => (a.frontmatter.date < b.frontmatter.date ? -1 : 1))
);

const pageTitle = "Blogg";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    <ul>
      {
        allBlogPosts.map((post) => (
          <li>
            <BlogPost post={post} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
